@model AppRestaurants.Data.Models.Grade

@{
    ViewData["Title"] = "Noter un restaurant";
}

<h1>@ViewBag.Title</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateGrade">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Date de votre visite</label>
                <input asp-for="DateDerniereVisite" class="form-control" />
                <span asp-validation-for="DateDerniereVisite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commentaire" class="control-label"></label>
                <input asp-for="Commentaire" class="form-control" />
                <span asp-validation-for="Commentaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantID" class="control-label">Restaurant</label>
                <select asp-for="RestaurantID" class="form-control" asp-items="ViewBag.Restaurants"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GradesList">Retour à la liste des notes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
